@import "tailwindcss";

@theme {
  /* Colores */
  --color-primary_y: #DD9A4C;
  --color-primary_yh: #F39007;
  --color-secondary_g: #6AB23E;
  --color-danger_r: #D96146;
  --color-blk_1: #2B2B2B;
  --color-blk_2: #3B3B3B;
  --color-secondary_wt: #E3E3E3;
}

